/* color palette from <https://github.com/vuejs/theme> */
:root {
  --max-width: 100svw;
  --max-height: 100svh;
  --p-base: 12px;
  --height_header-footer: 60px;
  --page-height: calc(var(--max-height) - 2 * var(--height_header-footer));
  --page-int-height: calc(var(--max-height) - 3 * var(--height_header-footer));
  --input-height: 33px;

  --dark: #212121;
  --dark2: #323232;
  --dark3: #434343;
  --dark4: #545454;
  --dark5: #656565;

  --white: #f4f4f4;
  --white2: #f7f7f7;
  --white3: #eee;
  --white4: #e6e6e6;
  --white5: #ddd;

  --green: #004521;
  --green1: #01602a;
  --green2: #00873a;
  --green3: #77dc1f;

  --orange: #ff8343;

  --color-text: var(--dark);
  --color-text-invert: var(--white);

  --silver: #d5d5d5;
  --silver2: #c3c3c3;
  --silver3: #b3b3b3;

  --primary: #47beff;

  --danger: #ff1f10;
  --danger-s: #ff8f87;
  --success: #04ff8a;
  --success-s: #e1fff1;
  --alert: #fedf32;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: none;

  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

body {
  min-height: var(--max-height);
  max-height: var(--max-height);
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
