@import "./base.css";

#app {
  min-width: var(--max-width);
  max-width: 1280px;
  min-height: var(--max-height);
  max-height: var(--max-height);
  overflow: hidden;

  margin: 0 auto;
  font-weight: normal;



  display: flex;
  flex-direction: column;
}

.headerM,
.footerM {
  min-height: var(--height_header-footer);
  max-height: var(--height_header-footer);

  background-color: #212121;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--p-base);
}

.headerM {
  justify-content: space-between;
  flex-direction: row;
}

.footerM {
  justify-content: space-evenly;
}

.mainM {
  min-height: var(--page-height);
  max-height: var(--page-height);

  overflow-y: hidden;
}

.page {
  min-height: var(--page-height);
  max-height: var(--page-height);

  overflow-y: auto;
}

.int {
  min-height: var(--page-int-height);
  max-height: var(--page-int-height);
}


.nav-link {
  text-decoration: none;
  color: var(--color-text-invert);

  display: flex;

  font-size: 33px;
  cursor: pointer;
}

.nav-link:active {
  scale: .95;
}

.active {
  transition: all ease .4s;
  color: var(--green2);
  font-weight: bold;
}

.group-links {
  display: flex;
  align-items: center;
  gap: var(--p-base);
}

.input, .rounded-btn_input {
  height: var(--input-height);

  background-color: var(--white);
  border: solid 1px var(--white);
}

.search-header {
  display: flex;
  align-items: center;
}

.input, .textarea {
  max-width: 180px;
  padding: 0 0 0 var(--p-base);
  font-size: 16px;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}


.input:focus, .textarea:focus, .input-radio:focus {
  outline: solid 2px var(--green3);
}

.input-radio {
  accent-color: var(--green3);
}

.search-header > .input {
  border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}

.search-header > .input:focus {
  box-shadow: inset 0 0 6px var(--green1);
}


.rounded-btn_input {
  width: var(--input-height);
  

  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.rounded-btn_input:hover {
  transition: all ease .4s;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;

  background-color: var(--green1);
  color: var(--white);
}

.rounded-btn_input:active {
  scale: 1.095;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: var(--p-base);
}

.form-control > label {
  padding: 0 var(--p-base);
  font-weight: bold;
  color: var(--green2);
}

.form-control > .label-required::before {
  content: "* ";
  color: red;
}

.form-control > .input, .form-control > .textarea  {
  min-width: 100%;
}

.form-control > .btn, .form-group > .btn {
  width: 100%;
  min-height: var(--input-height);
  border: solid 1px transparent;
  background-color: var(--green2);
  color: var(--white);
  font-weight: bold;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  cursor: pointer;
}
.form-control > .btn:hover, .form-group > .btn:hover {
  opacity: .9;
  transition: all ease .4s;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
}
.form-control > .btn:active, .form-group > .btn:active {
  scale: .95;
}

.form-control > .btn:focus, .form-group > .btn:focus {
  outline: solid 2px var(--green3);
  border: solid 1px var(--white);
}

.form-control > .textarea {
  resize: none;
  font-size: 14px;
  min-height: 100px;
  padding: var(--p-base);
}

.form-group {
  width: 100%;
  padding: var(--p-base);
  display: flex;
  gap: var(--p-base);
}

.form-group > fieldset {
  width: 100%;
  display: flex;
  gap: calc(2 * var(--p-base));
  border: 2px solid #dadada;
  
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-group > fieldset.fieldsetNotSelected {
  border: 2px solid red;
}

.form-group > fieldset > legend {
  color: var(--green2);
  font-weight: bold;
}

.form-group > fieldset > legend::before {
  content: "* ";
  color: red;
}

.form-group  .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 var(--p-base);
}

.label-radio {
  font-weight: bold;
  cursor: pointer;
}

.label-radio:active {
  scale: .95;
}

.label-radio::before {
  content: "* ";
  color: red;
}

.label-radio::before {
  content: " ";
}

.consumidor {
  color: var(--green2);
}

.revenda {
  color: var(--orange);
}

#revenda {
  accent-color: var(--orange);
}

details {
  padding: 0 var(--p-base);
  color: var(--green2);
  cursor: pointer;
}

.danger {
  background-color: var(--danger) !important;
}

.alert {
  background-color: var(--alert) !important;
  color: var(--dark) !important;
}